{%- assign _lid = page.locale_id | default: "" -%}
{%- if _lid == "ar" -%}{% include legal/content/ar/pp.html %}
{%- elsif _lid == "de" -%}{% include legal/content/de/pp.html %}
{%- elsif _lid == "el" -%}{% include legal/content/el/pp.html %}
{%- elsif _lid == "es" or _lid == "es-419" or _lid == "es-MX" -%}{% include legal/content/es/pp.html %}
{%- elsif _lid == "fr" -%}{% include legal/content/fr/pp.html %}
{%- elsif _lid == "hi" -%}{% include legal/content/hi/pp.html %}
{%- elsif _lid == "id" -%}{% include legal/content/id/pp.html %}
{%- elsif _lid == "it" -%}{% include legal/content/it/pp.html %}
{%- elsif _lid == "ja" -%}{% include legal/content/ja/pp.html %}
{%- elsif _lid == "ko" -%}{% include legal/content/ko/pp.html %}
{%- elsif _lid == "nl" -%}{% include legal/content/nl/pp.html %}
{%- elsif _lid == "pt-BR" -%}{% include legal/content/pt-BR/pp.html %}
{%- elsif _lid == "pt-PT" -%}{% include legal/content/pt-PT/pp.html %}
{%- elsif _lid == "ru" -%}{% include legal/content/ru/pp.html %}
{%- elsif _lid == "sv" -%}{% include legal/content/sv/pp.html %}
{%- elsif _lid == "zh-Hans" -%}{% include legal/content/zh-Hans/pp.html %}
{%- elsif _lid == "zh-Hant" or _lid == "zh-HK" -%}{% include legal/content/zh-Hant/pp.html %}
{%- else -%}{% include legal/content/en/pp.html %}
{%- endif -%}
